{% load staticfiles %}
<!--footer-->
<div>
    <div class="footer-section" style="margin-bottom: 0px;">
        <div style="border-top: 2px  solid #eee;">
           <div class="footer-box_left" style="margin-top: 7px">
                <h5 align="center">联系我们</h5>
                <p align="center">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;E-MAIL:3345947441@qq.com<br>
                    <span class="glyphicon glyphicon-pushpin"></span>&nbsp;厦大思明校区邮编：361005<br>
                    <span class="glyphicon glyphicon-map-marker"></span>&nbsp;福建省厦门市思明区思明南路422号<br>
                </p>
            </div>

            <div class="footer-box_mid" style="margin-top: 7px">
                <h5 align="center">厦门大学图灵课堂</h5>
                <div style="padding: 0px 30px;">
                    <p align="center">旨在为同学们提供一个学习交流的平台！</p>
                </div>
            </div>

            <div  class="footer-box_right">
                <img src="{% static 'image/code1.PNG' %}"  width="120" height="120" >
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
   @厦门大学信息学院网络文化中心·图灵课堂工作室 V1.1.9.201705
</div>
